<%- include('_header-noloading') %>



  <main class="Page PageAbout">

    <section class="mv">
      <div class="section__inner">
        <div class="Section__title CaseStudy__title">
          <p class="Section__title-english split --ColorWhite">ABOUT</p>
          <h2 class="Section__title-sub js-fadeIn --ColorWhite">会社概要</h2>
        </div>
        <%- include('_Page-aboutHead') %>
      </div>
    </section>

    <section class="PageAbout__history">
      <div class="section__inner">

        <div class="mv__content PageAbout__history-content">
          <ul class="PageAbout__history-list">
            <li class="PageAbout__history-item">
              <span class="PageAbout__history-date">2023.10</span>
              <div class="PageAbout__history-text-wrap">
                <span class="PageAbout__history-title">株式会社NSJAPANを設立（資本金500万円）</span>
                <span class="PageAbout__history-sub">「営業を科学し、事業を創る」をテーマに、営業支援と事業共創を軸とした活動を開始。</span>
              </div>
            </li>
            <li class="PageAbout__history-item">
              <span class="PageAbout__history-date">2024.2</span>
              <div class="PageAbout__history-text-wrap">
                <span class="PageAbout__history-title">本店を東京都港区虎ノ門4-1-1 神谷町トラストタワー23階に移転</span>
                <span class="PageAbout__history-sub">都心主要エリアでのネットワーク拡大と、企業連携・事業共創の基盤を整備。</span>
              </div>
            </li>
            <li class="PageAbout__history-item">
              <span class="PageAbout__history-date">2024.10</span>
              <div class="PageAbout__history-text-wrap">
                <span class="PageAbout__history-title">本店を東京都千代田区麹町4-4-4 ACN麹町ビル12階へ移転</span>
                <span class="PageAbout__history-sub">本店を東京都千代田区麹町4-4-4 ACN麹町ビル12階へ移転。<br>拡大するプロジェクト体制に合わせ、データドリブンな営業支援と事業開発を推進する拠点として再構築。</span>
              </div>
            </li>
            <li class="PageAbout__history-item">
              <span class="PageAbout__history-date">2025.8</span>
              <div class="PageAbout__history-text-wrap">
                <span class="PageAbout__history-title">営業スキル平準化ツール 「Sales Knowledge Lab」 をリリース</span>
                <span class="PageAbout__history-sub">営業ノウハウの可視化・共有・自動分析を通じて、 “属人化しない営業組織づくり”を支援するSaaSモデルを提供開始。<br>営業支援からナレッジプラットフォーム事業へと進化。</span>
              </div>
            </li>


          </ul>


        </div>
      </div>
    </section>

    <%- include('_Page-company') %>
      <%- include('_Page-googleMap') %>
        <%- include('_bottom') %>

  </main>


  <%- include('_footer') %>