<%- include('_header-noloading') %>



  <main class="Page PageAbout">

    <section class="mv">
      <div class="section__inner">
        <div class="Section__title CaseStudy__title">
          <p class="Section__title-english split --ColorWhite">ABOUT</p>
          <h2 class="Section__title-sub js-fadeIn --ColorWhite">会社概要</h2>
        </div>
        <%- include('_Page-aboutHead') %>
      </div>
    </section>

    <section class="PageAbout__member">
      <div class="section__inner">
        <div class="mv__content PageAbout__member-content">

          <ul class="PageAbout__member-list">
            <li class="PageAbout__member-item js-modal-open" data-micromodal-trigger="modal01">
              <!-- メンバーカード -->
              <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
              <span class="PageAbout__member-post">代表取締役CEO</span>
              <p class="PageAbout__member-name">内藤 脩平</p>
              <span class="PageAbout__member-hurigana">Shuhei Naito</span>
            </li>
            <li class="PageAbout__member-item js-modal-open" data-micromodal-trigger="modal02">
              <!-- メンバーカード -->
              <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
              <span class="PageAbout__member-post">外部顧問</span>
              <p class="PageAbout__member-name">山元 賢治</p>
              <span class="PageAbout__member-hurigana">Kenji Yamamoto</span>
            </li>
            <li class="PageAbout__member-item js-modal-open" data-micromodal-trigger="modal03">
              <!-- メンバーカード -->
              <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
              <span class="PageAbout__member-post">外部顧問</span>
              <p class="PageAbout__member-name">小西 麻亜耶</p>
              <span class="PageAbout__member-hurigana">Maaya Konishi</span>
            </li>
            <li class="PageAbout__member-item js-modal-open" data-micromodal-trigger="modal04">
              <!-- メンバーカード -->
              <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
              <span class="PageAbout__member-post">外部顧問</span>
              <p class="PageAbout__member-name">税理士法人 経営サポートプラスアルファ</p>
              <!-- <span class="PageAbout__member-hurigana">Shuhei Naito</span> -->
            </li>

          </ul>

          <div class="modal micromodal-slide" id="modal01" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
              <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <div class="modal__close-button" data-micromodal-close>
                  <img src="../img/modal-close.png" alt="">
                </div>
                <div class="modal__content">
                  <ul>
                    <li class="PageAbout__member-item">
                      <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
                      <div class="modal_text-wrap">
                        <span class="PageAbout__member-post">222代表取締役CEO</span>
                        <span class="PageAbout__menber-nameWrap">
                          <p class="PageAbout__member-name">内藤 脩平</p>
                          <span class="PageAbout__member-hurigana">Shuhei Naito</span>
                        </span>
                        <span class="PageAbout__member-text">ここにテキスト...</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal micromodal-slide" id="modal02" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
              <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <div class="modal__close-button" data-micromodal-close>
                  <img src="../img/modal-close.png" alt="">
                </div>
                <div class="modal__content">
                  <ul>
                    <li class="PageAbout__member-item">
                      <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
                      <div class="modal_text-wrap">
                        <span class="PageAbout__member-post">222代表取締役CEO</span>
                        <span class="PageAbout__menber-nameWrap">
                          <p class="PageAbout__member-name">内藤 脩平</p>
                          <span class="PageAbout__member-hurigana">Shuhei Naito</span>
                        </span>
                        <span class="PageAbout__member-text">ここにテキスト...</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal micromodal-slide" id="modal03" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
              <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <div class="modal__close-button" data-micromodal-close>
                  <img src="../img/modal-close.png" alt="">
                </div>
                <div class="modal__content">
                  <ul>
                    <li class="PageAbout__member-item">
                      <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
                      <div class="modal_text-wrap">
                        <span class="PageAbout__member-post">3代表取締役CEO</span>
                        <span class="PageAbout__menber-nameWrap">
                          <p class="PageAbout__member-name">内藤 脩平</p>
                          <span class="PageAbout__member-hurigana">Shuhei Naito</span>
                        </span>
                        <span class="PageAbout__member-text">ここにテキスト...</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal micromodal-slide" id="modal04" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
              <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <div class="modal__close-button" data-micromodal-close>
                  <img src="../img/modal-close.png" alt="">
                </div>
                <div class="modal__content">
                  <ul>
                    <li class="PageAbout__member-item">
                      <img src="../img/mv_slide01.png" alt="" class="PageAbout__member-img">
                      <div class="modal_text-wrap">
                        <span class="PageAbout__member-post">4代表取締役CEO</span>
                        <span class="PageAbout__menber-nameWrap">
                          <p class="PageAbout__member-name">内藤 脩平</p>
                          <span class="PageAbout__member-hurigana">Shuhei Naito</span>
                        </span>
                        <span class="PageAbout__member-text">ここにテキスト...</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>








        </div>
      </div>
    </section>

    <%- include('_Page-company') %>
      <%- include('_Page-googleMap') %>
        <%- include('_bottom') %>

  </main>


  <%- include('_footer') %>