<%- include('_header-noloading') %>



  <main class="Page PageAbout">

    <section class="mv">
      <div class="section__inner">
        <div class="Section__title CaseStudy__title">
          <p class="Section__title-english split --ColorWhite">ABOUT</p>
          <h2 class="Section__title-sub js-fadeIn --ColorWhite">会社概要</h2>
        </div>
        <%- include('_Page-aboutHead') %>
      </div>
    </section>

    <section class="PageAbout__message">
      <div class="section__inner">

        <div class="mv__content PageAbout__message-content">
          <img src="../img/page_about-message.png" alt="" class="PageAbout__message-image">

          <div class="PageAbout__message-wrap">
            <div class="PageAbout__message-text">日本は今、人口減少・労働力不足・産業構造の転換という<br><br>“社会の前提が変わる時代”を迎えています。<br>働く人が減る一方で、企業は「人手が足りない」「売上が伸びない」という課題に直面し、<br><br>多くの中小企業が持続的な成長モデルを描けずにいます。<br>私たちNSJAPANは、こうした構造的課題に対して<br><br>「営業の再現性」と「事業開発力」で解を出す会社です。<br>営業活動で得られる一次情報や顧客インサイトは、<br><br>社会の変化を最も早く捉える“現場の知”です。<br><br>私たちはその情報を活かし、単なる販路拡大ではなく、<br><br>新たな事業の勝ちパターンを共に創り出すことを使命としています。</div>
            <div class="PageAbout__message-text">
              営業を通じて得たデータや知見を体系化し、<br><br>SaaS・AI・ナレッジDBを駆使して、<br><br>企業が人に依存せず成長できる仕組みを設計する。<br><br>それが、私たちの考える“営業の進化”です。<br>人口減少や人材不足という課題は、<br><br>「縮小」ではなく「再構築」のチャンスです。<br><br>社会の変化を受け身で嘆くのではなく、<br><br>“仕組みと知恵”で乗り越えていく。<br>私たちは、事業を通じて社会の歪みを整え、<br><br>すべての人が笑顔で挑戦できる未来をつくっていきます。
            </div>
          </div>
        </div>
      </div>
    </section>



    <%- include('_Page-company') %>
      <%- include('_Page-googleMap') %>

        <%- include('_bottom') %>

  </main>


  <%- include('_footer') %>