<%- include('_header-noloading') %>



  <main class="Page PageAbout">

    <section class="mv">
      <div class="section__inner">
        <div class="Section__title CaseStudy__title">
          <p class="Section__title-english split --ColorWhite">ABOUT</p>
          <h2 class="Section__title-sub js-fadeIn --ColorWhite">会社概要</h2>
        </div>

        <%- include('_Page-aboutHead') %>

      </div>
    </section>

    <section class="PageAbout__vision">
      <div class="section__inner">

        <div class="mv__content PageAbout__vision-content">
          <ul class="PageAbout__vision-list">
            <li class="PageAbout__vision-item">
              <h3 class="PageAbout__vision-title js-fadeIn">PHILOSOPHY</h3>
              <p class="PageAbout__vision-sub split">経営理念</p>
              <p class="PageAbout__vision-text">わたしたちで、身近な人の笑顔を量産する<br><br>私たちNSJAPANは、<br><br>「わたしたちで、身近な人の笑顔を量産する」ことを経営の中心に据えています。<br>営業という仕事は、単に商品を売る行為ではなく、<br><br>「人と人」「企業と社会」をつなぎ、誰かの困りごとを解決するための創造活動です。<br>私たちは、関わるすべての人が笑顔でいられる関係性を構築し、<br><br>その輪を広げ続けることで、社会全体を明るく前向きにしていきます。</p>
            </li>
            <li class="PageAbout__vision-item">
              <h3 class="PageAbout__vision-title js-fadeIn">VISION</h3>
              <p class="PageAbout__vision-sub split">ビジョン</p>
              <p class="PageAbout__vision-text">営業から事業を創る。<br>企業の「勝ちパターン」を社会に実装する。<br>私たちは、営業支援の枠を超え、<br><br>“企業の事業成長を共にデザインする”存在を目指しています。<br>営業現場で得られる一次情報や顧客インサイトをもとに、<br><br>新たな事業仮説を立て、検証し、再現性ある「勝ちパターン」を創り出す。<br>単なる「代行」でも「コンサル」でもなく、<br><br>クライアントの中に入り込み、事業の中核を共創するパートナーとして、<br><br>私たちは、営業を“事業創造の起点”へと進化させていきます。</p>
            </li>
            <li class="PageAbout__vision-item">
              <h3 class="PageAbout__vision-title js-fadeIn">STRATEGY</h3>
              <p class="PageAbout__vision-sub split">戦略</p>
              <p class="PageAbout__vision-text">営業を科学し、事業を仕組み化する。<br>属人化から「再現性のある成長モデル」へ。<br>多くの企業が抱える課題は、営業の属人化と事業開発の偶発性です。<br>私たちはその構造を変えるために、<br><br>「営業」「分析」「戦略」「実行」を一気通貫で体系化し、<br><br>成果の再現性を生み出す仕組みを構築します。<br>データと知見をもとに市場の“勝ち筋”を見つけ、<br><br>SaaS・AI・ナレッジDBを活用して、<br><br>事業開発を“偶然”から“設計された成功”へと変える。<br>私たちは、企業の挑戦を「仕組み」で支え、<br><br>日本発の再現可能な事業創出モデルを社会に広げていきます。</p>
            </li>
          </ul>
        </div>
      </div>
    </section>



    <%- include('_Page-company') %>
    <%- include('_Page-googleMap') %>


    <%- include('_bottom') %>

  </main>


  <%- include('_footer') %>